
@font-face {
    font-family: 'sk-modernistregular';
    src: url('sk-modernist-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'ClashGrotesk-Light';
  src: url('./ClashGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
:root {
  --font-title: 'sk-modernistregular';
  --color-background: #fffefe;
  --color-text: #020000;
  --color-accent: #5b3df5;

  --font-family-base: 'ClashGrotesk-Light', system-ui, Arial, Helvetica, sans-serif;

  --font-size-body: 1.25rem;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 1.25rem;
}

* {
  box-sizing: border-box;
}


header {
  text-align: center;
  margin-bottom:0rem;
  padding: 2rem;
  outline: 1px solid var(--color-background);
  line-height: 1em;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
}

h1,h2,h3 {
  font-family: var(--font-title);
}



header p {
  text-wrap-style: balance;
  margin: 0em;
  padding: 0em;
  
}

h1 {
  font-size: clamp(2.5rem, 10vw, var(--font-size-h1));
  line-height: 0.95;
  margin: 0.25em 0;
  padding: 0em;
  max-width: 100%;
  overflow-wrap: anywhere;

}

h2 {
  font-size: var(--font-size-h2);
  margin: 0.5em 0;
}

h3 {
  font-size: var(--font-size-h3);
}

a {
  color: var(--color-accent);
}

article {
  width: 65%;
  min-width: 290px;
  max-width: 1240px;
  margin: 0 auto;
}


section {
  margin-bottom: 5em;
  padding: 7em 1em;
}

nav {
  position: sticky;
  top: 0;
  margin: 0rem;
  background-color: var(--color-background);
  padding: 1em;
  text-align: center;
}

nav a {
  padding: 0.5rem;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.monsterism-image {
  width: 700px;
}

#nuevos-formatos {
  background-color: var(--color-accent);
}
#Conoce-los-Toys {
  
  background-color: rgb(255, 1, 107);
}
#Gloomy-Bear {
  background-color: var(--color-background);
  padding: 0em 1em;
}
#Monsterium {
  background-color: var(--color-background);
  padding: 0em 1em;
}